#youtube, #youtube:before {
  background-color: #E35044;
  background-size: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2UzNTA0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2M2UzMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(1%, #e35044), color-stop(100%, #d63e30));
  background-image: -moz-linear-gradient(left top, #e35044 1%, #d63e30 100%);
  background-image: -webkit-linear-gradient(left top, #e35044 1%, #d63e30 100%);
  background-image: linear-gradient(to right bottom, #e35044 1%, #d63e30 100%);
}

#youtube {
  position: relative;
  width: 25px;
  height: 15px;
  border-top-left-radius: 3px 50%;
  border-top-right-radius: 3px 50%;
  border-bottom-left-radius: 3px 50%;
  border-bottom-right-radius: 3px 50%;
  margin-left: 15px;
  margin-right: 20px;
}
#youtube:before {
  position: absolute;
  content: " ";
  border-top-left-radius: 50% 1px;
  border-top-right-radius: 50% 1px;
  border-bottom-left-radius: 50% 1px;
  border-bottom-right-radius: 50% 1px;
  width: 26px;
  height: 17px;
  left: -13px;
  top: 1px  ;
}
#youtube:after {
  position: absolute;
  content: " ";
  border-top: transparent 4.5px solid;
  border-bottom: transparent 4.5px solid;
  border-left: #F2F0E6 7px solid;
  top: 50%;
  left: 50%;
  margin-top: -4.5px;
  margin-left: -2.5px;
}
