body {
  background-color: #673AB7;
  margin-top: 50px;
}

h1 span.logo {
  /*font-family: 'Cinzel Decorative', cursive;*/
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 70px;
  font-size: 10vw;
}

h1 span.logo a {
  color: #FFFFFF;
  text-decoration: none; 
}

h4 span.sub-heading {
  color: #D1C4E9;
}

.accent-color {
  color: #FF5252;
}

.accent-fallback-color {
  color: #FF8A80;
}

#player-container {
  transition-property: opacity, padding-bottom;
  transition-duration: 1.5s;
  transition-timing-function: ease-in;
  opacity: 0;
  padding-bottom: 0px;
}

#player-container.expanded {
  opacity: 1;
  padding-bottom: 56.25%;
}

i {
  position: relative;
  font-size: 1.5em !important;
}

a.btn-lg i {
  top: 5px;
}

a.btn-sm i, h5 i {
  top: 3px;
}

span.time-to-line {
  display: none;
}

.popover {
  display: none !important;
  animation-duration: 3s;
  animation-name: bobble;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: bobble;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-name: bobble;
  -moz-animation-iteration-count: infinite;
  -o-animation-duration: 3s;
  -o-animation-name: bobble;
  -o-animation-iteration-count: infinite;
}

@keyframes bobble {
  0% {
    margin-top:0;
  }
  50% {
    margin-top:-10px;
  }
  100% {
    margin-top:0;
  }
}

@-webkit-keyframes bobble {
  0% {
    margin-top:0;
  }
  50% {
    margin-top:-10px;
  }
  100% {
    margin-top:0;
  }
}

@-moz-keyframes bobble {
  0% {
    margin-top:0;
  }
  50% {
    margin-top:-10px;
  }
  100% {
    margin-top:0;
  }
}

@-o-keyframes bobble {
  0% {
    margin-top:0;
  }
  50% {
    margin-top:-10px;
  }
  100% {
    margin-top:0;
  }
}
@media (min-width: 768px) {
  span.time-to-line {
    margin-left: 30px;
    margin-right: 30px;
    display: inline;
  }

  .well.well-lg {
    width: 80%;
  }

  .popover {
    display: block !important;
  }
}

input.time-input {
  text-align: center;
}

#highlights-container {
  display: inline-block;
}

#add-highlight-button-container {
  display: block;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-group .highlight {
  display: block;
}

.well.well-lg {
  margin: auto;
}

